<h2 class="header-link">For contact information, see my <a class="resume-link" style="text-decoration: none"  href="https://monteirovj.github.io/Resume/">Resume</a></h2>
<!---
<h2 class="header-link">For contact information, see my <a class="resume-link" style="text-decoration: none"  href="{{ "/temp_resume" | prepend: site.baseurl | replace: '//', '/' }}">Resume</a></h2>
<a style="text-decoration: none" href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Projects</h2></a>
<a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">RSS</h2></a>
--->